*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 7px;
    font-size: 16px;
}

.input-container input[type = "text"]{
    width: 70%;
}
.input-container input[type = "button"]{
    background-color: rgb(0, 255, 0);
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin-left: 8px;
    padding: 12px 18px;
}

.input-container input[type = "button"]:hover{
    background-color: rgb(113, 238, 255);
    
}

ul{
    width: 100%;
    max-width: 450px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin-top: 10px;
}

ul li{
    list-style: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    margin-block: 6px;
    padding: 12px;
    border-radius: 10px;
    background-color: #fffccb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li p {
    flex-grow: 1;
    padding: 2px;

}


.btn{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    background: none;
    padding: 8px
}

.deleteBtn{
    color: red;
}

.editBtn{
    color: rgb(81, 255, 0);
}

ul li input[type="checkbox"]:checked + p {
    text-decoration: line-through;
    opacity: 0.6;
}